<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Online Shopping System!</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

</head>

<body  th:style="'background-image:url(' + @{/img/background7.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
	<div class="container mt-3 w-50">
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">


					<li class="nav-item">

						<a class="navbar-brand" href="#">
							<img th:src="@{/img/newlogo1.png}" width="30" height="30" class="d-inline-block align-top"
								>
							MAADO ART

						</a>
					</li>

					<li class="nav-item active">
						<a class="nav-link font-weight-bold" th:href="@{/Home}">Home<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/Products}">Products</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/Customers}"> Customers
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/Orders}"> Orders
						</a>
					</li>

					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link font-weight-bold" th:href="@{/logout}"> Log out
							</a>
						</li>
					</ul>
				</ul>
			</div>
		</nav>
	</div>

	<div class="jumbotron bg-light border border-success container w-50 mt-4 text-center ">
		<h5 class="display-5 font-weight-bold ">Welcome Admin to Online Shopping System!</h5>
		<hr class="my-4  w-50">
		<p class="mt-5">This application performS CRUD operations, (Creat, Read, Update, Delete)</p>

		<p class="mt-5"> Choose one of the option below :</p>

	</div>

	</div>

	<table class="table container  w-50">
		<thead>
			<tr>
				<th scope="col">
					<div class="container ">
						<div class=" container border border-success  alert alert-secondary font-weight-bold"
							role="alert">
							<h5 class="font-weight-bold">
								<a class="nav-link font-weight-bold" th:href="@{/Products}">Products</a>


							</h5>
							<p class="text-muted">Manage all products here</p>
						</div>
					</div>
				</th>
				<th scope="col">
					<div class="container">
						<div class=" container border border-success alert alert-secondary font-weight-bold"
							role="alert">
							<h5 class="font-weight-bold">
								<a class="nav-link font-weight-bold" th:href="@{/Customers}"> Customers
								</a>


							</h5>
							<p class="text-muted">Manage all Customers here</p>
						</div>
					</div>
				</th>
				<th scope="col">
					<div class="container">
						<div class=" container  border border-success alert alert-secondary font-weight-bold"
							role="alert">
							<h5 class="font-weight-bold">
								<a class="nav-link font-weight-bold" th:href="@{/Orders}"> Orders
								</a>
							</h5>
							<p class="text-muted">Manage all Orders here</p>
						</div>
					</div>
				</th>
			</tr>
		</thead>
	</table>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
</body>

</html>