<!DOCTYPE html>
<html>

<head>
	<title>ProductList page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>

<body>
<div class="container  ">
	<img src"logo.jpg" alt="Logo MAADO ART" >
</div>
	<div class="container mt-5">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">MAADO ART</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Product List <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">New Product</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Customer List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">New Customer</a>

					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>

</html>