<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Shopping Products</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico">

</head>

<body th:style="'background-image:url(' + @{/img/background8.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

	<div class="container mt-3  w-50">
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">

						<a class="navbar-brand" href="#">
							<img th:src="@{/img/newlogo1.png}" width="30" height="30" class="d-inline-block align-top"
								alt="logo">
							MAADO ART

						</a>
					</li>

					<li class="nav-item  ">
						<a class="nav-link font-weight-bold" th:href="@{/page1_shopping}">Home<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/aboutus}">About Us</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/contactus}"> Contact Us
						</a>
					</li>
					<li class="nav-item active ">
						<a class="nav-link font-weight-bold" th:href="@{/shopping}"> Shopping
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/mycart}"> My Cart
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link font-weight-bold" th:href="@{/login}"> Login
						</a>
					</li>

				</ul>
			</div>
		</nav>

	</div>
	<!--
	<div class="container ">


		<table class="table table-striped mt-5">
			<thead>
				<tr>
					<th scope="col"></th>

				</tr>
			</thead>
			<tbody>


				<tr class="row " th:each="product: ${products}">
				<td>	<div class="col-md  mt-3">
						<div class="card container mt-3" style="width: 18rem;">
							<img th:src="@{/img/}+${product.image}" class="card-img-top" alt="picture">
							<div class="card-body ">
								<h5 class="card-title" th:text="${product.productName} "></h5>
								<p class="card-text">
								</p>
								<p class="font-weight-bold" th:text="@{Price $}+${product.price} "> </p>

								<a th:href="@{/mycartgetid/}+${product.productId}" class="btn btn-primary">Buy</a>
							</div>
						</div>
					</div>
				</td>
				
				</tr>
	</div>

-->

	<div class="jumbotron bg-light border border-success mt-4 container">
		<div class="row row-cols-1 row-cols-md-4">
			<div class="col mb-4 " th:each="product: ${products}">
				<div class="card h-120 page-item">
					<img class="card-img-top" th:src="@{/img/}+${product.image}" alt="Tieandbow">
					<div class="card-body">
						<h6 class="card-title" th:text="${product.productName}"></h6>
						<h6 class="card-subtitle mb-2 " th:text="@{Price $}+${product.price} "></h6>
						<a th:href="@{/mycartgetid/}+${product.productId}" class="btn btn-primary">Add to Cart</a>
					
					</div>
				</div>
			</div>
		</div><!--  End CARDS -->
	</div> <!-- End Jumbotron -->

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

</body>

</html>